# Python / Streamlit
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment Variables & Secrets
.env
.streamlit/secrets.toml

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Downloads / Temporary files
assets/mascot_b64.txt
image_b64.txt
*.log
